body {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #000;
  color: #eee;
  width: 100%;
  height: 100vh;
}

.brand-container {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 70px;
  width: 100%;
  margin: -10px 0 -10px 10px;
}

.brand-container h1 {
  font-size: 50px;
}

.slogan-container {
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  margin: -10px 0 -10px 10px;
}

.content-container {
  width: 100%;
}

.content-container .links a {
  display: block;
  color: #eee;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: 900;
  text-decoration: none;
  transition: font-weight 100ms;
}

.content-container .links a:hover {
  font-weight: 400;
}