body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #476088;
  border: solid 30px white;
}

.main {
  color: #fff;
}

.header {
  background-color: #476088;
  width: 100%;
}

.logo {
  display: inline-block;
  color: #FF6D74;
  font-family:'Times New Roman', Times, serif;
}

.logo h1 {

}

.slogan {
  float: right;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.slogan h2 {
  
}

.links .link0,.link1,.link2 {
  padding: 30px;
  margin: 20px;
  display: inline-block;
  border: solid 4px #fff;
}

.links .link0,.link1,.link2 a {
  color: #61A8E8;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.content-container .links a:hover {
}