body {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #121212;
  color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.brand-container {
  font-family: 'Lora', serif;
}

.brand-container h1 {
  font-size: 120px;
  margin: -20px 0 0 20px;
}

.content-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.links a {
  display: inline-block;
  color: black;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 5px 5px #b8f1b0;
  transition: box-shadow 100ms;
}

.links a:hover {
  box-shadow: 10px 10px #b8f1b0;
}

.quote-container {
  font-family: 'Lora', serif;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 20px 0;
}

.quote-container h3 {
  font-size: 40px;
}

.quote-container h4 {
  font-size: 24px;
  text-align: right;
  font-weight: normal;
  font-style: italic;
  margin: -50px 0 0 0;
}

img {
  width: 350px;
  margin: 40px 15%;
}
